.text-bold{
    font-weight: bold !important;
}

.bg-gray{
    background: #fafbfc;
}

.fa-pen{
    color: #555;
}

.fa-times{
    font-size: 15px !important;
    color: red;
}

#search{
    border-radius: 3px;
}

