// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$font-poppins: "Poppins", sans-serif;
$font-raleway: "Raleway", sans-serif;
$font-openSans: "Open Sans", sans-serif;

// Colors
$blue: #3490dc;
$bluetm: #009CAB;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f04e25;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #fff;
$white-broken: #eee;
$lightgreen: #3ac162;
$darkgrey: #444444;
$lightgrey: #aaaaaa;
$lightblack: #37423b;
$superlightgrey: #f6f7f6;
$facebookBlue: #046ee5;
$discordGrey: #202225;
$lightgrey_back: #f8fafc;
